$o-exp-expired: #df3333;
$o-exp-notify: #efa146;
$o-exp-current: #57c845;

.o_expiring_product_calendar {

    height: 100%;
    width: 100%;
    display: flex;
    padding: 5px;

    .o_section {
        height: 100%;
        display: flex;
        flex-direction: column;

        .o_box_container {
            width: 100%;
            padding: 10px;

            &.o_box_group {
                padding: 0;
                display: flex;

                .o_box_sub {
                    padding: 10px;
                    width: 33.33%;
                }
            }

            .o_box {
                width: 100%;
                height: 100%;
                padding: 10px;
                border-radius: 5px;
                background-color: #f0f6f9ab;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        
                &:hover {
                    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                }

                .o_box_title {
                    height: 20px;
                    font-size: 17px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .o_expiration_filter  {
                    height: 100%;
                    width: 100%;

                    .o_box_cp {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 5px;
                        width: 100%;
    
                        .o_search {
                            padding-left: 25px;
                            padding-right: 40px;
                            background-color: white;
                            display: flex;
                            position: relative;
                            margin-left: auto;
                            border-radius: 5px;
                            width: 100%;

                            .o_search_icon, .o_remove_icon, .o_check_icon {
                                position: absolute;
                                top: 3.5px;
                            }
    
                            .o_search_icon {
                                left: 5px;
                            }

                            .o_remove_icon {
                                cursor: pointer;
                                right: 5px;
                            }

                            .o_check_icon {
                                cursor: pointer;
                                right: 22.5px;
                            }
    
                            .o_search_input {
                                width: 100%;
                                border: none;
                                border-radius: 5px;
                            }
                        }
                    }
    
                    
                    .o_filter {
                        overflow-y: scroll;
                        height: 50%;
                        margin-top: auto;
                        margin-bottom: auto;
                    }
                }
        
                .custom-control.custom-checkbox {
                    display: flex;
                    align-items: center;
        
                    .custom-control-label {
                        display: flex;
                        align-items: center;
                        padding-left: 25px;
                        font-size: 12px;
                        height: 20px;
                        line-height: 1;

                        &::before {
                            width: 8px;
                            height: 15px;
                        }
                    }
        
                    .o_flag {
                        height: 100%;
                        border-radius: 5px;
                        color:  white;
                        padding: 1px 7px;
                        font-size: 10px;
                        margin-left: auto;
                        white-space: nowrap;

                        &.o_expire {
                            background-color: $o-exp-expired;
                        }

                        &.o_notify {
                            background-color: $o-exp-notify;
                        }
                    }
                }

                .custom-control.custom-checkbox .custom-control-input:not(:checked):not(:indeterminate) ~ .custom-control-label:before {
                    width: 15px !important;
                    top: 2.5px !important;
                }
        
                &.o_info_box {
                    display: flex;
                    flex-direction: column;
                    color: white;
                    position: relative;

                    .o_expiration_info {
                        width: 100%;
                        height: 100%;
                        cursor: pointer;

                        .o_info_icon {
                            position: absolute;
                            top: 30%;
                            right: 15px;
                            font-size: 30px;
                        }
                        
                        h2 {
                            color: white;
                        }
            
                        .o_count {
                            margin-top: auto;
                            margin-bottom: auto;
                            font-size: 30px;
                            font-weight: bold;
                            color: white;
                        }
                    }

                    &.o_current {
                        background-color: $o-exp-current;
                        .o_info_icon {
                            color: darken($o-exp-current, 10%);
                        }
                    }
        
                    &.o_notify {
                        background-color: $o-exp-notify;
                        .o_info_icon {
                            color: darken($o-exp-notify, 10%);
                        }
                    }
        
                    &.o_expired {
                        background-color: $o-exp-expired;
                        .o_info_icon {
                            color: darken($o-exp-expired, 10%);
                        }
                    }
                }
        
                &.o_status_box {

                    .o_expiration_status {
                        width: 100%;
                        height: 100%;

                        .o_status_container {
                            margin-bottom: 20px;
            
                            .o_status_label_container {
                                display: flex;
                                align-items: center;
            
                                .o_status_label {
                                    font-weight: bold; 
                                    font-size: 15px;
                                }
            
                                .o_status_percentage {
                                    margin-left: auto;
                                    color: white;
                                    border-radius: 5px;
                                    padding: 2px 5px;
                                }
                            }
                            
                            .o_status_progressbar {
                                height: 15px;
                                border-radius: 5px;
                                transition: .2s;
                            }
            
                            &.o_expired {
                                .o_status_percentage {
                                    background-color: $o-exp-expired;
                                }
                                .o_status_progressbar {
                                    background-color: $o-exp-expired;
                                }
                            }
            
                            &.o_notify {
                                .o_status_percentage {
                                    background-color: $o-exp-notify;
                                }
                                .o_status_progressbar {
                                    background-color: $o-exp-notify;
                                }
                            }
            
                            &.o_current {
                                .o_status_percentage {
                                    background-color: $o-exp-current;
                                }
                                .o_status_progressbar {
                                    background-color: $o-exp-current;
                                }
                            }
                        }
                    }
                }
        
                &.o_expiration_forecast_box {

                    .o_expiration_forecast {
                        width: 100%;
                        height: 100%;

                        .o_forecast_table {
                            table-layout: fixed;
            
                            th, td {
                                text-align: center;
                                border: 1px solid #a0a0a0;
                            }
            
                            th {
                                color: #787373;
                            }
            
                            td:not(.o_year){
                                color: #1270b0;
                                font-weight: bold;
                                cursor: pointer;

                                &:hover {
                                    background-color: white;
                                }
                            }
                        }
                    }
                }
        
                &.o_recent_events_expired_box, &.o_recent_events_notify_box {
                    .o_expiration_recent_events {
                        width: 100%;
                        height: 100%;
                        overflow-y: hidden;

                        .o_recent_events_container {
                            height: 90%;
                            overflow-y: scroll;

                            .o_event {
                                cursor: pointer;
                                border-radius: 5px;
                                margin-bottom: 5px;
                                padding: 5px;

                                &:hover {
                                    background-color: white;
                                }

                                .o_event_type {
                                    padding: 0 10px;
                                    margin-right: 5px;
                                    color: white;
                                    border-radius: 5px;
                                    font-weight: bold;
            
                                    &.o_expired {
                                        background-color: $o-exp-expired;
                                    }
                                    &.o_notify {
                                        background-color: $o-exp-notify;
                                    }
                                    &.o_current {
                                        background-color: $o-exp-current;
                                    }
                                }
                            }
                        }
                    }
                }

                &.o_calendar_box {

                    .o_calendar {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;

                        .o_calendar_controller {
                            height: 20%;

                            .o_calendar_buttons {
                                display: flex;
    
                                .o_button_selector_container {
                                    margin-left: auto;
    
                                    .o_button_selector {
                                        background-color: #1270b0 !important;
                                        border: 1px solid #EEEEEE !important;
                                        color: white !important;
        
                                        &:hover {
                                            background-color: #EEEEEE !important;
                                            color: #212529 !important;
                                        }
                                    }

                                    .o_datepicker {
                                        transition: .2s;
                                        border: 1px solid #EEEEEE;
                                        border-radius: 5px;
                                        background-color: #1270b0;
                                        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;

                                        .o_datepicker_input {
                                            color: white;
                                            border-radius: 5px !important;
                                            text-align: center;

                                            &:focus {
                                                background-image: none !important;
                                            }
                                        }

                                        .o_datepicker_button::after {
                                            color: white;
                                        }

                                        &:hover {
                                            background-color: #EEEEEE;
                                            .o_datepicker_input, .o_datepicker_button::after {
                                                color: #212529;
                                            }
                                        }
                                    }
                                }
                                
                                .o_button_print_container {
                                    margin-left: auto;
                                }
    
                                .o_button_type {
                                    margin-left: 20px;
                                }
                            }
    
                            .btn {
                                border-radius: 5px !important;
                                background-color: #EEEEEE !important;
                                border: 1px solid #EEEEEE !important;
    
                                &:hover, &.active {
                                    background-color: #1270b0 !important;
    
                                    .fa {
                                        color: white !important;
                                    }
                                }
                            }
                        }

                        .o_calendar_content {
                            height: 80%;

                            .o_table_calendar {
                                width: 100%;
                                height: 100%;
                                color:#4c4c4c !important;
                                table-layout: fixed;

                                thead {
                                    tr {
                                        &:first-child {
                                            th {
                                                border-top: none;
                                            }
                                        }
                                        
                                        th {
                                            font-weight: bold;
                                            border: 1px solid #a0a0a0;
                                            text-align: center;

                                            &:first-child {
                                                border-left: none;
                                            }

                                            &:last-child {
                                                border-right: none;
                                            }
                                        }
                                    }
                                }

                                tbody {
                                    tr {
                                        &:last-child td {
                                            border-bottom: none;
                                        }

                                        td {
                                            position: relative;
                                            border: 1px solid #a0a0a0;
                                            text-align: center;

                                            &:first-child {
                                                border-left: none;
                                            }

                                            &:last-child {
                                                border-right: none;
                                            }

                                            &:nth-last-child(2), &:last-child {
                                                color: #1270b0;
                                            }

                                            &.o_clickable {
                                                cursor: pointer;
                                            }

                                            &.o_current {
                                                background-color: #1270b0;
                                                color: white;
                                            }

                                            .o_value {
                                                position: relative;
                                                z-index: 1;
                                            }

                                            &.o_head, &.o_hour {
                                                .o_value {
                                                    background-color: #f3c2c2;
                                                    color: white;
                                                    border-radius: 5px;
                                                }
                                            }

                                            &:hover {
                                                &.o_day {
                                                    background-color: white;
                                                    color: #4c4c4c;
                                                }
                                                &.o_head, &.o_hour {
                                                    .o_value {
                                                        background-color: white;
                                                        color: #4c4c4c;
                                                    }
                                                }
                                            }

                                            &:hover:first-child ~ td {
                                                background-color: white;
                                                &.o_current {
                                                    color: #4c4c4c;
                                                }
                                            }

                                            &.o_selected {
                                                &:not(.o_head):not(.o_hour) {
                                                    background-color: white;
                                                    color: #4c4c4c;
                                                }
                                                &.o_head, .o_hour {
                                                    .o_value {
                                                        background-color: white;
                                                        color: #4c4c4c;
                                                    }
                                                }
                                            }

                                            .o_strip_container {
                                                height: 20px;
                                                width: 100%;
                                                position: absolute;
                                                left: 0;
                                                bottom: 0;
                                                display: flex;
                                                flex-direction: column-reverse;

                                                .o_strip {
                                                    height: 10px;
                                                    width: 100%;
    
                                                    &.o_expire {
                                                        background-color: $o-exp-expired;
                                                    }
    
                                                    &.o_notify {
                                                        background-color: $o-exp-notify;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                &:not(.o_calendar_day) {
                                    thead {
                                        tr {
                                            th {
                                                &:nth-last-child(2), &:last-child {
                                                    color: #1270b0;
                                                }
                                            }
                                        }
                                    }
                                }

                                &.o_calendar_day {
                                    thead {
                                        tr {
                                            th:first-child {
                                                width: 20%;
                                            }
                                        }
                                    }
                                    tbody {
                                        tr {
                                            td:first-child {
                                                width: 20%;
                                            }
                                        }
                                    }
                                }
                            }

                            .o_calendar_week, .o_calendar_day {
                                tbody {
                                    display: block;
                                    height: 100%;
                                    overflow: auto;
                                }

                                thead tr, tbody tr {
                                    display: table;
                                    width: 100%;
                                    table-layout: fixed;

                                    th:last-child {
                                        border-right: 5px solid #d9d9d9;
                                    }
                                }
                            }
                        }

                        .o_expiring_tooltip_inner {
                            background-color: white;
                            height: 300px;
                            width: 300px;
                            border-radius: 5px;
                            padding: 5px;
                            position: absolute;
                            z-index: 1;

                            .o_expiring_tooltip {
                                width: 100%;
                                height: 100%;
                                background-color: white;
                                overflow: hidden;
                                border-radius: 5px;
                                z-index: 1;
                                font-size: 12px;
                        
                                .o_content {
                                    background-color: white;
                                    color: #787373;
                                    height: 100%;
                                
                                    .o_tooltip_top {
                                        font-weight: bold;
                                        background-color: #1270b0;
                                        color: white;
                                        border-radius: 5px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        flex-direction: column;
                                        margin-bottom: 10px;
                                        height: 15%;
                    
                                        .o_tooltip_title, .o_tooltip_subtitle {
                                            span.fa {
                                                color: white;
                                                font-size: 12px;
                                            }
                                        }
                                    }
                        
                                    .o_event_container {
                                        width: 100%;
                                        height: 80%;
                                        overflow: scroll;
                                        display: flex;
                                        align-items: center;
                                        flex-direction: column;
                    
                                        .o_event {
                                            margin-bottom: 5px;
                                            padding: 0 5px;
                                            text-align: left;
                            
                                            .o_event_type {
                                                padding: 0 5px;
                                                margin-right: 5px;
                                                color: white;
                                                border-radius: 5px;
                                                font-weight: bold;
                            
                                                &.o_expired {
                                                    background-color: $o-exp-expired;
                                                }
                                                &.o_notify {
                                                    background-color: $o-exp-notify;
                                                }
                                            }
                                        }
                    
                                        .o_view_nocontent {
                                            position: unset;
                                            margin: auto;
                    
                                            .o_nocontent_help > p:first-of-type {
                                                font-weight: normal;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.o_nearly_expire_box {
                    .o_expiration_nearly_expire {
                        width: 100%;
                        height: 100%;
    
                        .o_nearly_controller {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;
    
                            .o_nearly_date {
                                background-color: white;
                                display: flex;
                                align-items: center;
                                width: 100%;
                                margin-right: 5px;
                                border-radius: 5px;
                                position: relative;
                                height: 27px;
    
                                .o_button_date {
                                    padding: 3px 5px;
                                }
    
                                .o_input_date {
                                    border: none;
                                    cursor: pointer;
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }

                                .o_nearly_dropdown{
                                    position: absolute;
                                    left: 0;
                                    top: 27px;
                                    background-color: white;
                                    width: 100%;
                                    list-style-type:  none;
                                    padding: 0;
                                    border-radius: 5px;

                                    .o_item {
                                        cursor: pointer;
                                        padding: 3px 10px;

                                        &:hover {
                                            background-color: #1270b0;
                                            color: white;
                                        }

                                        .o_item_custom {
                                            background-color: white;
                                            position: absolute;
                                            left: 100%;
                                            bottom: 0;
                                            z-index: 1;
                                            width: 75%;
                                            padding: 10px;
                                            border-radius: 5px;

                                            .o_custom {
                                                display: flex;
                                                align-items: center;

                                                span {
                                                    margin-right: 10px;
                                                }

                                                .o_item_input {
                                                    margin-left: auto;
                                                }
                                            }

                                            .o_datepicker {
                                                margin-bottom: 5px;

                                                .o_datepicker_input {
                                                    padding-bottom: 3px;
                                                    padding-top: 3px;
                                                    color: #4c4c4c;
                                                }

                                                .o_datepicker_button {
                                                    top: -4px;
                                                }
                                            }

                                            .o_button_apply_custom {
                                                width: 100%;
                                                padding: 2px 0;
                                            }
                                        }
                                    }
                                }
                            }
    
                            .o_button_chart {
                                align-items: center;
    
                                .btn {
                                    display: flex;
                                    border: none;
                                    border-radius: 5px !important;
                                }
    
                                .active {
                                    background-color: #1270b0;
                                    
                                    .fa {
                                        color: white
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .o_w25 {
        width: 25%;
    }

    .o_w50 {
        width: 50%;
    }

    .o_h10 {
        height: 10%;
    }

    .o_h15 {
        height: 15%;
    }

    .o_h25 {
        height: 25%;
    }

    .o_h30 {
        height: 30%;
    }

    .o_h40 {
        height: 40%;
    }

    .o_h50 {
        height: 50%;
    }

    .o_h60 {
        height: 60%;
    }

    .o_h80 {
        height: 80%;
    }

    .o_h85 {
        height: 85%;
    }

}

.bootstrap-datetimepicker-widget {
    .datepicker-days {
        table.o_expiring_table {
            thead {
                tr:first-child {
                    th {
                        background: #1270b0;
                        color: white;
    
                        .fa {
                            color: white;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        border-radius: 0;
                        &.active, &.today {
                            border-radius: 0;
                        }
    
                        &.active {
                            background: $o-exp-notify;
                        }
        
                        &:hover {
                            background: #1270b0 !important;
                            color: white !important;
                        }
                    }
                }
            }

            &.o_datepicker_week {
                tbody {
                    tr {
                        td {
                            &.today:before {
                                display: none;
                            }
                        }
                        &:hover {
                            td {
                                background: #1270b0 !important;
                                color: white !important;
                            }
                            td.cw {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}