.o_stock_per_wh_container {
	display: flex;
// 	width: 50%;
}

.o_stock_per_warehouse_table {
	width: 100%;
	display: inline-table;
	margin: 10px;
}

.o_form_stock_per_warehouse_label {
	font-weight: bold;
	margin-right: 15px;
}

.o_stock_per_warehouse_input {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 2px 4px;
	width: 100%;
}

.o_stock_per_warehouse_input:focus {
	outline: none;
}
.expire_days{
	font-weight: bold;
}

.o_stock_per_wh_list {

	.o_stock_per_wh_cp {

		.o_stock_per_wh_table {

			tr > td {
				padding: .5rem 10px !important;
			}
	
			.o_record {
				.o_record_container {
					position: relative;
					.o_record_input {
						width: 100%;
						cursor: pointer;
						padding: 2px 8px;
						border: 1px solid #ced4da;
				
						&:focus {
							border: 1px solid #ced4da;
						}
					}
					.o_record_dropdown {
						border: 1px solid #ced4da;
						border-radius: 3px;
						position: absolute; 
						width: 100%; 
						list-style-type: none; 
						padding: 0; 
						z-index: 2;
						background-color: white;
				
						.o_record_name {
							padding: 3px 10px;
							cursor: pointer;
				
							&:not(.o_not_found):hover {
								background-color: rgb(38, 38, 40);
								color: white;
							}
						}
					}
				
					.o_record_input_icon {
						position: absolute;
						top: 8px;
						right: 5px;
						cursor: pointer;
						font-size: 12px;
					}
				}
	
			}
		}
		
	}

	.o_view_nocontent {
		display: flex;
	}

	.table-responsive {

		thead {
			position: sticky;
			top: 0;
			z-index: 1;
		}

		tbody {
			tr.o_move_fast td {
				background-color: #A0D8B3;
			}
			tr.o_move_slow td {
				background-color: #E5F9DB;
			}
			tr.o_move_non td {
				background-color: #F7F7F7;
			}
		}
	}
}

.o_view_controller > .o_content > .o_list_view.o_stock_per_wh_list > .table-responsive {
	height: 100%;
	overflow: auto;
}

.select2-container-multi .select2-choices .select2-search-field input {
    background: white !important;
}
.select2-container-multi.select2-container-disabled .select2-choices {
    background-color: #fff !important;
    cursor: pointer !important;
}

.select2-container-multi .select2-choices {
    background-image: none !important;
}